# Dependencies
node_modules/
vendor/

# Build
dist/
build/

# Environment variables
.env
.env.local

# Logs
logs/
*.log

# Database
*.sqlite

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
